@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.list-item, a {
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: .75rem;
    color: #edf0f1;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .32rem;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
    border-bottom: 10px solid pink;
}

.logo{
  cursor: pointer;
  margin-right: auto;
  color: pink;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.logo:hover{
    color: white;
  }

.nav-links {
    list-style: none;
    text-align: center;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: pink;
}

