@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}

/* ABOUT ME */

#about-me{
    background-color: white;
    border-bottom: 10px solid #C18794;
}


.about-me-box-1{
    flex: 2;
    padding: 0 16px 16px 16px;

}

.about-me-box-2{
    flex: 1;
    padding: 0 16px;
    text-align: center;
}

@media(min-width:768px){
    .about-me-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
}

.about-me-container{
    background-color: white;
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 0px;
}

.about-me-heading{
    font-size: 24px;
    font-weight: 900;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: black;
    margin-bottom: 16px;
}

.about-me-text{
font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
font-size: 16px;
color: black;

}


.image{
    max-width: 100%;
    border-radius: 50px;
    margin-top: 16px;
}



/* Project */

#projects{
    background-color: black;
    border-bottom: 10px solid #C18794;
}

.projects-container{
    background-color: black;
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 0px;
}

#projects h2{
    color: white;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
    margin-bottom: 16px;
}

#projects h3{
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    width: 100%;
}

.open-project{
    color: white;
    padding: 16px 16px;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.open-project:hover{
    color: black;
    background-color: #C18794;
}

#projects p{
    color: white;
    margin-top: 16px;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

#projects h4{
    color: white;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.project-border{
    border: 2px solid #C18794;
    margin: 16px 16px 0 16px;

}


@media(min-width:768px){
.project-inner-container{
    display: flex;  
    align-items: start;
    justify-content: space-between;
}
}

.project-box{
    flex: 1;
    padding: 0 16px;
}

#full-project{
    display:none;
    padding-bottom: 16px;
}

#full-project, #full-project-1, #full-project-2, #full-project-3, #full-project-4, #full-project-5{
    display:none;
    padding-bottom: 16px;
}


.image2{
    max-width: 100%;
    margin-top: 16px;
}


.tech-container{
    display: flex;
    justify-content: space-around;
    gap: 16px;
    flex-wrap: wrap;
}


.tech-box{
    text-align: center;
    margin-top: 16px;
    flex: 1;
}

#projects .fa-brands {
    color: white;
    font-size: 32px;
    text-align: center;
}

#projects .fa-solid {
    color: white;
    font-size: 32px;
    text-align: center;
}

#projects button {
    font-weight: 900;
    font-size: 16px;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    padding: 16px 0;
    border-radius: 50px;
    cursor: pointer;
}

.button-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 16px;
}

.button-box{
    flex: 1;
    margin-top: 16px;
}

.site-button{
    width: 100%;
    background-color: #C18794;
    border: 2px solid #C18794;
    transition: all 0.3s ease 0s;
}

.site-button:hover{
    background-color: white;
    border: 2px solid white;
}

.code-button{
    width: 100%;
    background: none;
    color: white;
    border: 2px solid white;
    transition: all 0.3s ease 0s;

}

.code-button:hover{
    color: #C18794;
    border: 2px solid #C18794;
}

/* SKILLS */
#skills{
    background-color: white;
    border-bottom: 10px solid #C18794;
}

.skills-container{
    background-color: white;
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 16px;
}

#skills h2{
    color: black;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
    margin-bottom: 16px;
    text-transform: uppercase;
}

#skills .fa-brands {
    font-size: 32px;
    text-align: center;
}

#skills .fa-solid {
    font-size: 32px;
    text-align: center;
}

#skills h3{
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    margin-bottom: 16px;
}

#skills h4{
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: black;
    text-align: center;
    font-size: 16px;
}


.skills-flex-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    padding: 0 0 16px 0;
    margin: 0 0 16px 0;
    /* border-bottom: 10px solid black; */
}

.skills-box{
    text-align: center;
    width: 100px;
}

#contact{
    background-color: black;
}

.contact-container{
    background-color: black;
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 16px;
}

#contact h2{
    color: white;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.contact-btn-container{
    margin-bottom: 16px;
}

#contact button{
    font-weight: 900;
    font-size: 18.72px;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    padding: 16px 0;
    
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    background: #C18794;
    color: black;
    border: 2px solid #C18794;
    transition: all 0.3s ease 0s;

}

#contact button:hover {
    color: black;
    border: 2px solid white;
    background: white;
}


